<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>

</nav>
<body>
    <div class="navbar">
        {% if request.user.is_authenticated  %}
        <form action="{% url "users:logout" %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="로그아웃" name="" id="">
        </form>
        <h2>{{ request.user.username }}님, 안녕하세요!</h2>
        {% else %}
        <a href="{% url "users:login" %}">로그인</a>
        <a href="{% url "users:signup" %}">회원가입</a>
        {% endif %}
        
    </div>
    
    <div>
    {% block content %}
    {% endblock content %} 
    </div>

    <div class="footer">

    </div>
</body>
</html>